body{
    background-image: url(./assets/desfoc.jpg);
    background-size: cover;
}

p{
    font-size: 16px;
    color: red;
    text-align: center;
}

#container{
    width: 1150px;
    margin: auto;
    background-color: rgba(83, 172, 255, 0.623);
    border-radius: 24px;
}

h1, h2{
    text-align: center;
}

.descrition {
    color: #333333;
    font-size: 12px;
}

img{
    width: 840px;
    height: 430px;
    border-radius: 28px;
    display: flex;
    margin: auto;
}